.idea/*

homo_sapiens/

src/__credential__.py
src/__pycache__/*

src/module/__pycache*
src/module/.ipynb_*

bc/*
playground/*

legacy_flask-app/app/static/*.*
legacy/*

flask-dash-app/.idea/*.*
flask-dash-app/app/*.pyc
