{% extends "mybase.html" %} <!--this means that you are extending the base tempate -->
{% block stagegroup %} <!-- this is the name of the block below -->
       <div class="row" style="height:100vh;">
               <div class="col-md-4 col-md-offset-4" style="margin-top:10vh;">
                       <form action="example" method="POST">
<!-- action is the html template that will return the result to this input query -->
                               <div class="form-group text-center">
                                       <label style="font-weight:300; font-size:36px;">Select cancer type</label>
                                       <br /><br />
                                       <select class="form-control" name="disease_type">
                                               <option>Breast</option>
                                               <option>Lung</option>
                                               <option>Brain</option> <!--Acquire from databse-->
                                       </select>
                                       <br /><br />
                                       <label style="font-weight:300; font-size:36px;">Select stage</label>
                                       <br /><br />
                                       <select class="form-control" name="stage">
                                               <option>Stage I</option>
                                               <option>Stage II</option>
                                               <option>Stage X</option> <!--Acquire from databse-->
                                       </select>
                                       <br /><br />

                                       <button type="submit" value="Send" name="disease-container" class="btn btn-default id-submit">Submit</button>
                               </div>
                       </form>
               </div>
       </div>

{% endblock %}